*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
     
}

body{
   background-color: #121214;
   background-image: url(../images/corelogo/verde.svg); 
   background-position-x:center;
   background-position-y:55.6%;

}

.app{
    
    width: fit-content;
    margin: 52px auto;
}
header{
margin-bottom: 63px;
text-align: center;
}
section{
    display: flex; 
      flex-direction: column; 
      padding-top: 15px;
}


.card{
    padding: 32px 23px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
}

.card h2{
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;
   width: fit-content;
   margin-inline: auto;
   margin-bottom: 30px;
   color:#f7dd43
    
}
.card h2 span{
color: #e1e1e6;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
}

.card div{
    display: flex;
    flex-direction: row;
    gap:32px;
    width: fit-content;
justify-content: space-between;


}

div p{
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color:#e1e1e6;
    align-items: center;
 
}
.left{
    width: 165px;
    text-align: center;
    align-items: center;
   
}
.right{
    text-align: center;
    width: 165px;
    align-items: center;
    justify-content: space-between;
}


.card h2 span{
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
    
    }
     
    .card ul{
        display: flex;
        flex-direction: column;
        gap:24px;
        /* width: 270px; */
    }
    
    .card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:16px;
    cursor: pointer;
    }
    
    .card ul li + li{
        padding-top: 24px;
        border-top: 1px solid #323238;
    }
    
    .card ul li strong,
    .card ul li span{
        font-weight: 900;
        font-size: 36px;
        line-height: 125%;
         color:#e1e1e6;
    }
.fases{
      display: flex;
     /* gap:16px; */
     justify-content: center;
     align-items: center;
     padding: 8px 16px;
     /* border: 1px solid #746615; */
     border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 15px;
    color:#f7dd43;
    font-size: 20px;
    /* line-height: 125%; */
}

    @media(min-width:760px){
      
       
        header{
     margin: 0;
        }
     
         section{
             display: flex; 
               flex-direction: row; 
               gap: 10px;
               padding-left: 30px;
               padding-top: 15px;
               width: fit-content;
             
         }
          
         div p,
         .card ul li strong
         {
             font-weight: 700;
             font-size: 16px;
            
         
         }
         strong{
            margin-left: 10px;
         }
          .left,
          .right{
             width: 52px;
           
            
         }
         
     }


    @media(min-width:1366px){
        .app{
       margin: 52px auto;
       width: fit-content;
        }
       
        header{
     margin: 0;
        }
     
         section{
             display: flex; 
               flex-direction: row; 
               gap: 32px;
               padding-left: 50px;
               padding-top: 32px;
               /* position: absolute; */
               
         }
          
         div p,
         .card ul li strong
         {
             font-weight: 700;
             font-size: 24px;
            
         
         }
          .left{
             width: 105px;
           
            
         }
         .right{
     
             width: 105px;
             text-align: center;
            
         }
         /* img{
             margin: 0;
         } */
     }


