*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
     
}

body{
   background-color: #121214;
   background-image: url(../images/corelogo/verde.svg); 
   background-position-x:center;
    background-position-y:-715px;

}

.app{
    
    width: fit-content;
    margin: 52px 15px ;
}
header{
margin-bottom: 63px;
text-align: center;
}


.card{
    padding: 32px 23px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
   
     }


.card h2{
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;
   width: fit-content;
   margin-inline: auto;
   margin-bottom: 30px;
   color:#f7dd43
    
}
.card h2 span{
color: #e1e1e6;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
}


.card div{
    display: flex;
    flex-direction: row;
    gap:32px;
    width: fit-content;
justify-content: space-between;


}

div p{
    font-weight: 900;
    font-size: 24px;
    line-height: 125%;
    color:#e1e1e6;
    align-items: center;
 
}
.left{
    width: 165px;
    text-align: left;
    align-items: center;
   
}
.right{
    text-align: center;
    width: 165px;
    align-items: center;
    justify-content: space-between;
}

    
    .card ul{
        display: flex;
        flex-direction: column;
        gap:24px;
        /* width: 270px; */
    }
    
    .card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:16px;
    /* cursor: pointer; */
  padding: 24px 0;
  
        border-top: 1px solid #323238;
        border-bottom: 1px solid #323238;
   
    }
    h3{
        color: #e1e1e6;
        /* margin-bottom: 10px; */
        font-size: 20px; 
        text-transform: uppercase;
          
    } 
  
    
    .card ul li strong,
    .card ul li span{
        font-weight: 900;
        font-size: 36px;
        line-height: 125%;
         color:#e1e1e6;
    }

    .card ul li strong:hover,
    .card ul li img:hover,
    .card ul li p:hover{
transform: scale(1.1);
    }
    .card ul li strong:hover,
    .card ul li img:hover,
    .card ul li p:hover{
transition:transform 0.3s;
    }


.fases{
      display: flex;
   
     justify-content: center;
     align-items: center;
     padding: 8px 16px;
  
     border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 15px;
    color:#f7dd43;
    font-size: 20px;
   
}

 

@media(min-width:460px){
  
    body{
       display: flex;
       justify-content: center;
    }

    header{
 margin: 0;
    }
 
      .card{
        justify-content: center;
       margin-bottom: 25px;
     }
    
  
     div p,
     .card ul li strong
     {
         font-weight: 900;
         font-size: 20px;
          
     }
         .left,
      .right{
         width: 80px;
              
     }
    
 }

     @media(min-width:760px){
          
        header{
     margin: 0;
        }
     
         .cards{
             display: flex; 
             flex-direction: row;
              gap: 25px;
               padding-left: 50px;
               padding-top: 32px;
               flex-wrap: wrap; 
               justify-content: center;
               /* width: 800px; */
               
         }
          
         div p,
         .card ul li strong
         {
             font-weight: 700;
             font-size: 24px;
         
         
         }
          .left{
             width: 105px;
                      
         }
         .right{
     
             width: 105px;
             text-align: center;
           
         }
            }


    @media(min-width:1366px){
  
       
        header{
     margin: 0;
  
        }
     
         .cards{
             display: flex; 
               flex-direction: row; 
               gap: 35px;
               padding-left: 50px;
               padding-top: 32px;
               flex-wrap: wrap; 
               justify-content: center;
               width: 80%;
               align-items: center;
             
               
         }
          
      .fases{
        font-size: 30px;
      }
.card h2 span{
   
    font-size:26px ;
}
.card h2{
    font-size: 26px;
    gap:22px;
}

h3{
    font-size: 26px;
}
         div p,
         .card ul li strong
         {
             font-weight: 700;
             font-size: 34px;
                 
         }
          .left{
             width: 145px;
             
         }
         .right{
     
             width: 145px;
             margin-right: 5px;
            
         }
       strong{
        margin-left: 5px;
       }
     }
 

